.font-chewy{
    font-family: "Chewy", cursive;
}
header nav a, header nav span{
    margin: 0 125px;
}
body{
    background-color: #292929;
}
header{
    background-color: #232323;
}
footer{
    background-color: #161616;
    border-top: 1px solid #818181;
    border-bottom: 1px solid #818181;
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: auto;
    width: 100%
}